@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #D5DDB3;
}

#coverPicture, body, #scrollMenu, .separatorHorizontal, .productsImage, .blueBorder, #otherInformation, .containerOrdered {
    width: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

#menu, #menuResponsive, .brownBorder:hover {
    background-color: #B38243;
}

#menu {
    margin-top: -0.4rem;
    height: 100px;
}

#menuResponsive {
    margin-top: -0.4rem;
    height: 80px;
}

#lpstLogo, .reverse, .reverse2, .placePrice, .placePrice2, .placePrice3, #lpstLogo2, #lpstLogoResponsive, .fa-bars, .log, .log3, #ab, #biomonde, .modal2, #closeModal, .end {
    position: absolute;
}

#lpstLogo, #lpstLogo2 {
    height: 80px;
}

#lpstLogo {
    left: 25px;
}

#lpstLogo2 {
    top: 0;
    right: 150px;
    height: 100px;
}

#lpstLogoResponsive {
    height: 60px;
    right: 25px;
    width: 60px;
}

#scrollMenu, .containedMenu:hover, select, footer, .send, .buttonMobile, .titleTable {
    background-color: #A9C500;
}

.send, select,.brownBorder:hover, .buttonMobile, .redButton, #commerce, #products, #local, #account, #shop, .fa-bars, .log2, .colorWhite, .linkFooter, #reserveBread  {
    color: white;
}

.delivery, .fa-bars, input, label, textarea, .select, .size20  {
    font-size: 20px;
}

.fa-bars {
    left: 20px;
}

.linkLog, #pwMsgRepeat, #pwMsg, td, .buttonClassic, #condition {
    font-size: 12px;
}

.containedMenu {
    padding: 20px;
    font-size: 22px;
    width: 16%;
    text-align: center;
}

.containedMenu:hover {
    height: 80px;
}

.separatorVertical {
    border-right: 2px solid #489533;
    height: 80px;
    margin: 0 5px;
}

.separatorHorizontal {
    border-top: 2px solid #BFBFBF;
    margin: 3px 0;
}

main, .log, .log3, .whiteBorder,  #newPwd, #currentPwd, td, .cartResponsive, .infoArticle, .forgotPassword {
    background-color: white;
}

main {
    margin: auto;
    width: 85%;
    padding: 15px;
}

footer {
    padding: 20px;
    margin-bottom: -18px;
}

.network_i, .buttonMobile, .subtitle, .log4, select {
    font-size: 25px;
}

.network_i {
    color: #351F1D;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
}

.network_i:hover {
    background-color: #351F1D;
}

h1, .products, .buttonMobile, .select, .subtitle, .modify, td, th, .center  {
    text-align: center;
}

h1 {
    font-size: 35px;
    color: #3b72bd;
    margin: 45px 0;
    font-weight: bolder;
}

.blueBorder {
    border: 2px solid #69A7D4;
}

.blueBorder:hover {
    box-shadow: 4px 4px 10px lightgray;
}

.products {
    width: 17%;
    margin: 10px 30px;
}

.allProducts {
    margin: auto;
    width: 80%;
}

.linkFooter {
    font-size: 10px;
    margin: 10px 15px;
}

.shop {
    height: 300px;
}

.about {
    margin: 45px 0;
}

.description {
    width: 50%;
    margin: 10px 30px;
    padding: 20px;
    background-color: #F2F5FA;
    border-radius: 10px;
}

.margin15-30 {
    margin: 15px 30px;
}

.colorGreen, .network_i:hover  {
    color: #A9C500;
}

.descriptionIcon, .leftIcon {
    margin-right: 10px;
}

.descriptionIcon, .brownBorder, .subtitle {
    color: #B38243;
}

.underline:hover {
    text-decoration: underline;
}

.linkFooter:hover {
    color: white;
}

.log, .log3 {
    padding: 10px;
    right: 0;
    margin-top: -41px;
}

#containerStaff, .allProducts, #containerFavorite {
    flex-wrap: wrap;
}

.staff{
    margin: 10px;
    width: 14%;
}

.staffPhoto {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 4px 4px 10px lightgray;
}

.staffPhoto:hover {
    box-shadow: 4px 4px 10px lightblue;
}

.nameStaff {
    font-size: 18px;
}

.jobStaff {
    color: #489533;
}

#ab, #biomonde {
    width: 100px;
}

#biomonde {
    right: 10%;
}

.nameContact {
    width: 50%;
    margin: auto;
}

input, label, textarea, select {
    width: 50%;
    margin: auto;
    border: none;
}

.nameContact > div > input, .nameContact > div > label {
    width: 105%;
}

input, textarea {
    background-color: #F2F5FA;
    padding: 5px;
    border-radius: 10px;
}

textarea {
    height: 150px;
    box-shadow: 3px 3px 10px lightgray;
}

.contact {
    margin: 15px;
}

input, .brownBorder {
    box-shadow: 3px 3px 10px lightgray;
}

.send, .buttonClassic, .redButton, .delivery, .select, .underline {
    cursor: pointer;
}

.send {
    width: 15%;
}

.send:hover {
    box-shadow: 3px 3px 10px #8ABF07;
}

form {
    margin: 20px 0 40px 0;
}

.brownBorder {
    border-radius: 3px;
    border: 1px solid #B38243;
    width: 20%;
    margin: 20px auto;
    padding: 10px;
}

.brownBorder:hover {
    box-shadow: 3px 3px 10px #351F1D;
}

.padding30 {
    padding: 30px;
}

h2 {
    margin: 20px 0;
}

p {
    margin: 5px 0;
}

#pwMsgRepeat, #pwMsg {
    width: 50%;
    margin: auto;
}

p {
     line-height: 23px;
}

.buttonMobile {
     border-radius: 10px;
     box-shadow: 5px 5px 10px #489533;
     padding: 15px;
     width: 70%;
     margin: 15px 0;
}

section {
     background-color: #F2F5FA;
     box-shadow: 5px 5px 10px grey;
     margin: 20px;
}

#informationProfil {
     width: 30%;
}

.photoProfil {
     margin: 10px;
     border-radius: 50%;
     width: 175px;
}

.select {
     background-color: #D5DDB3;
     padding: 15px;
}
.select:hover {
     background-color: #8ABF07;
}

.whiteBorder {
     width: 30%;
     padding: 7px;
}

.modify {
     border-radius: 5px;
     margin: 10px 0;
}

.colorGrey {
     color: grey;
}

button {
     border: none;
     padding: 8px;
}

.modifyProfil {
     width: initial;
}

.redButton {
     background-color: #E74A4A;
     border-radius: 5px;
     margin: 20px 0;
}
.redButton:hover {
     box-shadow: 5px 5px 10px darkred;
}

#newPwd, #currentPwd, .margin20 {
     margin: 20px auto;
}

table {
     margin: 20px;
     border-collapse: collapse;
}

td {
     border-bottom: 1px solid #BFBFBF;
     background-color: #fcfdff;
     padding: 15px;
     margin: -15px;
}

.trTable:hover > td {
    background-color: #f3da31;
}

td, th {
    width: 300px;
}

.imgTable {
     width: 80%;
     border-radius: 10px;
}

.width30 {
     width: 30%;
}

.width65 {
     width: 65%;
}

.numberArticle {
     width: 20%;
     background-color: #F2F5FA;
}

.wishlist {
     width: 20%;
}

.containerOrdered {
     padding: 15px;
}

.infoArticle {
     width: 95%;
     padding: 15px;
}

.margin {
    margin: 0 30px;
}

#menuResponsive, #profilImageModify, #modifyPhone, #deliveryAddress2, #choiceBread, #choiceBread2,#choiceBread3, #choiceBread4, #choiceBreadResponsive1, #choiceBreadResponsive2, #choiceBreadResponsive3, #choiceBreadResponsive4, #scrollMenu, #mobile, #disconnectionResponsive,  #cartResponsive, #modifyInformation, #accountResponsive, #orderedResponsive, #orderedAccount, #baskets_favorite, #choice_delivery, #choice_CC, #address1, #billingAddress2, #choice_paypal, #choice_Cards, #input_complements, #input_complements2 {
     display: none;
}

.buttonClassic {
     background-color: transparent;
     width: initial;
     margin: 10px 1px;
}

.buttonClassic:hover {
     box-shadow: 2px 2px 7px #bfbfbf;
     border-radius: 10px;
}

.buttonClassic:hover > i {
     color: #ff0b0b;
}

.cartResponsive {
     padding: 15px;
     margin: 10px;
     width: 93%;
}

.cartResponsive:hover, .infoArticle:hover {
     background-color: #f3da31;
}

.infoCart {
     width: 85%;
     padding: 0 15px;
}

.favoriteArticleCart {
     margin-left: 20%;
}

.edit {
    margin-left: 50%;
}

.modal2 {
     top: 0;
     left: 0;
     width: 100%;
     height: 80px;
     font-size: 22px;
}

#closeModal {
     top: 5px;
     right: 30px;
}

#error {
     background-color: #E74A4A;
}

#success {
    background-color: #8ABF07;
}

.log3 {
    margin-top: -68px;
}

.log4 {
     padding: 6px;
     margin: 0;
}

.forgotPassword {
     width: 30%;
     margin: 50px auto;
     padding: 15px;
     border-radius: 30px;
}

.colorRed, .colorRed2 {
    color: #E74A4A;
}

.colorGreen2 {
    color: #8ABF07;
}

.width_100 {
    width: 100%;
}

.stepBuy {
    width: 30%;
}

.colorGrey2 {
    color: #bfbfbf;
}

.colorBlue {
    color: #3b72bd;
}

.backgroundBlue {
    background-color: #F2F5FA;
}

.end {
    right: 180px;
}

.delivery {
    padding: 15px;
    box-shadow: 5px 5px 10px #bfbfbf;
    margin-bottom: 20px;
}

.priceDelivery {
    margin-left: 30px;
}

.align {
    align-items: center;
}

.delivery:hover {
    background-color: #69A7D4;
    color: #fcfdff;
}

.reverse {
    right: 40%;
}

.reverse2 {
    right: 11.5%;
}

#checkCC, #checkCC2, #checkDelivery, #checkStandard, #checkcourier, #checkCondition, #checkAllCards, #checkCards, #checkPaypal, #checkPaypal2  {
    background-color: transparent;
    width: initial;
    margin: 0 20px 0 0;
    box-shadow: 0 0 0 transparent;
}

.inputBuy, #standardDelivery, #courierDelivery {
    margin-bottom: 20px;
}

.placePrice, .placePrice2 {
    right: 42%;
}

.placePrice3 {
    right: 48%;
}

.sub {
    padding: 10px 40px;
}

.widthLogo {
    width: 40px;
}

select, option {
    text-align-last: center;
}

@media screen and (max-width: 1510px) {
    .wishlist > p, .wishlist > span {
        font-size: 12px;
    }
    .whiteBorder {
        width: 50%;
    }
    .placePrice3 {
        right: 50%;
    }
    #containerPhone {
        width: 100%;
    }
}

@media screen and (max-width: 1380px) {
    #informationProfil {
        width: 15%;
    }
    .photoProfil {
        width: 100px;
    }
    .width65 {
        width: 76%;
    }
    #information > p, #ordered > p, #basketsSave > p {
        font-size: 13px;
    }
    .title2 {
        font-size: 15px;
    }
    .placePrice3 {
        right: 52%;
    }
}

@media screen and (max-width: 1180px) {
    .staffPhoto {
        width: 100px;
        height: 100px;
    }
    .shop {
        height: 200px;
    }
    .containedMenu {
        font-size: 16px;
    }
    #menu > #commerce {
        margin-left: 30px;
    }
    .nameStaff {
        font-size: 14px;
    }
    .account {
        flex-direction: column;
    }
    #informationProfil {
        display: flex;
        flex-direction: row;
    }
    #informationProfil > div.separatorHorizontal {
        display: none;
    }
    .select {
        width: 45%;
        align-items: center;
        justify-content: center;
        height: 130px;
    }
    .photoProfil {
        width: 80px;
    }
    #disconnection {
        font-size: 10px;
    }
    .redButton {
        margin: 5px;
    }
    .width65, #informationProfil {
        width: 95%;
    }
    .select{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .log4 {
        margin: 0;
    }
    .forgotPassword {
        width: 75%;
    }
    .end {
        right: 140px;
    }
    #buy {
        width: 38%;
    }
    .title {
        font-size: 16px;
    }
}

@media screen and (max-width: 970px) {
    #containerShop1 {
        flex-direction: column;
    }
    #containerShop2 {
        flex-direction: column-reverse;
    }
    .description {
        width: 90%;
    }
    #lpstLogo, #lpstLogo2 {
        height: 65px;
    }
    #lpstLogo2 {
        right: 15px;
    }
    main {
        width: 100%;
    }
    .containedMenu {
        font-size: 14px;
        padding: 10px;
    }
    #menu {
        height: 80px;
    }
    .containedMenu:hover, .separatorVertical {
        height: 60px;
    }
    #biomonde {
        right: 5%;
    }
    .end {
        right: 50px;
    }
    .reverse2 {
        right: 50px;
    }
    .title2 {
        font-size: 12px;
    }
    #menu > #commerce {
        margin-left: 50px;
    }
}

@media screen and (max-width: 830px) {
    .separatorVertical, #tableOrdered, #tableBaskets {
        display: none;
    }
    #menu > #commerce {
        margin-left: 83px;
    }
    .containedMenu, #clickPhone {
        width: initial;
    }
    .log {
        margin-top: -42px;
    }
    .log > a, .log > span, .information, .containedMenu {
        font-size: 12px;
    }
    .staffPhoto {
        width: 110px;
        height: 110px;
    }
    .staff {
        width: 20%;
        margin: 10px 20px;
    }
    #containerStaff {
        display: flex;
        justify-content: center;
    }
    input, label, textarea, .nameContact {
        width: 80%;
    }
    .send {
        width: 25%;
    }
    .brownBorder {
        width: 30%;
    }
    h3, select {
        font-size: 15px;
    }
    select {
        width: 100%;
    }
    iframe {
        height: 350px;
    }
    .margin15-30 {
        margin: 8px 30px;
    }
    #orderedResponsive {
        display: block;
    }
    #cartResponsive {
        display: flex;
    }
    .infoArticle > .imgTable {
        width: 40%;
    }
    #buy, #buyTotal, #basket {
        width: 100%;
    }
    #cart, #buy {
        display: flex;
        flex-direction: column;
    }
    #basket, #buy {
        margin: 0;
    }
    .reverse, .reverse2 {
        right: 50px;
    }
    .placePrice, .placePrice2 {
        right: 70px;
    }
    .placePrice3 {
        right: 160px;
    }
    .title, .title2 {
        font-size: 20px;
    }
    #addDeliveryAddress, #addBillingAddress, #buyPaypal2, #buyCards2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 680px) {
    .log > a, .log > span {
        font-size: 10px;
    }
    .about, #basket2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    iframe {
        width: 90%;
    }
    .informations {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #ab, #biomonde {
        width: 70px;
    }
    #profil, #stepBuy {
        display: none;
    }
    .select {
        height: 60px;
    }
    #informationProfil, .width65 {
        width: 100%;
    }
    .account {
        padding: 0;
    }
    section {
        margin: 0;
    }
    #disconnectionResponsive {
        display: flex;
        align-items: center;
    }
    .redButton {
        margin: 0;
        border-radius: 0;
    }
    #return {
        font-size: 8px;
    }
    .title {
        font-size: 15px;
    }
    .placePrice {
        font-size: 18px;
    }
    #validation {
        margin: 0;
    }
}

@media screen and (max-width: 530px) {
    #menuResponsive, #mobile {
        display: flex;
    }
    .log, .log3, #computer, #menu, .selectComputer, .reverse, .reverse2 {
        display: none;
    }
    .containedMenu:hover, .linkLog:hover {
        background-color: #69A7D4;
        padding: 5px;
        width: 100%;
    }
    .log2 {
        margin-bottom: 15px;
    }
    .linkFooter {
        font-size: 8px;
        margin: 10px 5px;
    }
    .nameStaff {
        font-size: 12px;
    }
    .jobStaff {
        font-size: 10px;
    }
    .staffPhoto {
        width: 80px;
        height: 80px;
    }
    .products {
        width: 30%;
    }
    .allProducts, .forgotPassword > form > input#email, #accountResponsive, .forgotPassword, .log2 {
        width: 100%;
    }
    h1 {
        font-size: 30px;
    }
    .send {
        width: 60%;
    }
    .brownBorder {
        width: 65%;
    }
    label {
        font-size: 18px;
    }
    .margin {
        margin: 0 15px;
    }
    #accountResponsive {
        display: flex;
    }
    #accountResponsive, #information2 > p, #ordered2 > p, #basketsSave2 > p{
        font-size: 20px;
    }
    .wishlist {
        width: 24%;
    }
    .forgotPassword {
        margin: 0;
        border-radius: 0;
        padding: 60px;
    }
    .title {
        font-size: 15px;
    }
    .placePrice {
        margin-top: 37px;
        font-size: 15px;
    }
    .placePrice3 {
        margin-top: 55px;
    }
    #allCards {
        margin-top: 50px;
    }
    #buyCards{
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 460px) {
    h1 {
       font-size: 20px;
    }
    .subtitle {
        font-size: 17px;
    }
    .shop {
        height: 150px;
    }
    .staff {
        width: 33%;
    }
    iframe {
        height: 250px;
    }
    label {
        font-size: 15px;
    }
    .infoArticle > .infoCart, .infoArticle, .imgTable {
        display: flex;
        flex-direction: column;
    }
    .infoArticle, .imgTable{
        align-items: center;
        justify-content: center;
    }

    .infoArticle, .infoArticle > .infoCart {
        width: 100%;
    }
    .infoCart > div > p, .infoCart > p, .inputAddArticle, .wishlist > p, .wishlist > span {
        font-size: 10px;
    }
    .whiteBorder {
        width: 70%;
    }
}

@media screen and (max-width: 340px) {
    #ab, #biomonde {
        width: 35px;
    }
    .products {
        width: 60%;
    }
}