@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #A9C500;
}

#coverPicture {
    width: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

#menu {
    margin: -0.4rem;
    background-color: #8f5028;
    height: 120px;
    align-items: center;
    justify-content: center;
}

#lpstLogo {
    height: 100px;
    position: absolute;
    left: 25px;
}

#commerce, #products, #local, #account, #shop {
    color: white;
}

.containedMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 22px;
    width: 20%;
    height: 100px;
}

.containedMenu:hover {
    background-color: #A9C500;
    height: 100px;
}

.separatorVertical {
    border-right: 2px solid #351F1D;
    height: 80px;
    margin: 0 5px;
}

main {
    background-color: white;
    margin: auto;
    margin-top: 0.4rem;
    width: 80%;
    padding: 15px;
}

footer {
    background-color: #B38243;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.network_i {
    color: #351F1D;
    font-size: 25px;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
}

.network_i:hover {
    background-color: #351F1D;
    color: #A9C500;
}

h1 {
    font-size: 35px;
    color: #3b72bd;
    text-align: center;
    margin: 30px 0;
    font-weight: bolder;
}

.blueBorder {
    border: 2px solid #69A7D4;
}

.blueBorder:hover {
    box-shadow: 4px 4px 10px lightgray;
}

.products {
    width: 17%;
    margin: 10px 30px;
    align-items: center;
}

.productsImage, .blueBorder {
    width: 100%;
}

.colorBlue {
    color: #3b72bd;
}

.allProducts {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.linkFooter {
    font-size: 10px;
    color: white;
    margin: 10px 15px;
}

.linkFooter:hover {
    text-decoration: underline white;
}

#storefront {
    width: 500px;
}

.about {
    margin: 30px 0;
}

.description {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    background-color: #F2F5FA;
}

.margin15-30 {
    margin: 15px 30px;
}

.colorGreen {
    color: #A9C500;
}

.descriptionIcon {
    color: #B38243;
    margin-right: 10px;
}

.underlineMail:hover {
    text-decoration: underline #A9C500;
}